@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    max-width: 1420px;
}

header .container{
    background-image:url(image/pic1.png) ;
    height: 900px;
    background-size: cover;
    
}

header .container .up img{
    padding: 20px 30px;
    
}

header .container .up ul{
    display: flex;
    padding: 40px 50px; 
    position: relative;
    left: 355px;
    top: -158px;
}

header .container .up li{
    list-style: none;
    padding: 40px;
}

header .container .up li a{
    text-decoration: none;
    width: 42px;
    height: 22px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}

hr{
    position: relative;
    top: -228px;
}

/* header .container .up li::after a{
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #eb2124;

} */

/* header .container .side h4{
    display: inline;
    padding: 10px 0px;
} */

.container .down-left {
    margin-top: -50px;
    margin-left: 40px;
}

.container .down-left .text-1 h2{
    color: #eb2124;
    font-family: 'Saira';
    font-size: 44px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    left: 40px;
}



.container .down-left .text2 h2::after{
    content: "";
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: #eb2124;
    position: relative;
    top: 25px;
    left: -415px;
}
.container .down-left .text2 h2{
    font-family: 'Ubuntu';
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    left: 35px;
    top: -35px;
    color: white;
}

.container .down-left .text2 p{
    color: white;
    width: 491px;
    position: relative;
    left: 40px;
    top: -40px;
}

.container .down-left .text2 button{
    background-color: #A30003;
    color: white;
    width: 260px;
    height: 48px;
    text-align: center;
    position: relative;
    left: 35px;
    top: -30px;
    border: none;
}


.container .down-right .left img{
    position: relative;
    width: 25%;
    top: -410px;
    left: 626px;
}

.container .down-right .right img{
    position: relative;
    top: -664px;
    left: 952px;
    width: 25%;
}

.container .down-right .down img{
    position: relative;
    width: 50%;
    top: -647px;
    left: 639px;
}

.hp img{
    position: relative;
    left: 500px;
}



        /* end of header  */



        /* start of Construction Completion */




section .container {
    background-color: #13191D;
}


section .container .text h2{
    height: 48px;
    position: relative;
    left: 323px;
    top: 90px;
    color: #A30003;
    display: inline-block;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 48px;
    line-height: 76px;
    text-transform: uppercase;

/* background: linear-gradient(0deg, #CA1217, #CA1217), linear-gradient(144.5deg, #EB1D23 12.71%, #A30003 93.87%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; */


}

section .container .mob h2{
    display: none;
}

section .container .left{
    margin-top: 54px;
} 

section .container .text h2::after{
    content: "";
    display: inline-block;
    position: relative;
    top: 32px;
    left: -435px;
    width: 200px;
    height: 2px;
    background-color: #fff;
}



section .container .left img{
    width: 23%;
    position: relative;
    top: 108px;
}

section .container .left2 img{
    width: 21%;
    position: relative;
    left: 325px;
    top: -142px;
}

section .container .right img{
    width: 48%;
    position: relative;
    left: 650px;
    top: -384px;
}

section .container .cc img{
    width: 1800px;
    position: relative;
    top: -650px;
    left: -92px;
}

section .container .bg-p{
    margin-top: -420px;
}

section .container .bg-p img{
    width: 100%;
    max-width: 1420px;
    position: relative;
    top: -267px;
}

section .container .cd img{
    width: 1500px;
    position: relative;
    top: -492px;

}

section .container .bg-p h2{
    position: relative;
    left: 310px;
    top: -715px;
    width: 794px;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

section .container .office{
    margin-top: -350px;
}

section .container .office h2{
    width: 190px;
    position: relative;
    left: 50px;
    top: -400px; 
    color: #CA1217;
}

section .container .office h2::after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    top: -17px;
}

section .container .office img{
    width: 42%;
    position: relative;
    top: -425px;
    left: 50px;
}

section .container .off-ri{
    margin-top: -40px;
}

section .container .off-ri .ll h3{
    position: relative;
    top: -694px;
    left: 757px;
    color: #CA1217;
}

section .container .off-ri .ll h3::after{
    content: "";
    display: inline-block;
    width: 180px;
    height: 2px;
    background-color: #CA1217;
    position: relative;
    height: 2px;
    top: 11px;
    left: -97px;
}

section .container .off-ri .lr h3{
    position: relative;
    top: -734px;
    left: 943px;
    color: #4A4A4A;
   
}

section .container .off-ri .lr h3::after{
    content: "";
    display: inline-block;
    width: 170px;
    height: 2px;
    height: 2px;
    background-color:#4A4A4A ;
    position: relative;
    top: 10px;
    left: -102px;
}

section .container .off-ri .down p{
    width: 539px;
    position: relative;
    top: -728px;
    left: 755px;
    color: #FFFFFF;
}

section .container .off-ri .down h2{
    color: #CA1217;
    font-size: 32px;
    position: relative;
    left: 757px;
    top: -721px;
}

.down-ll p{
    position: relative;
    top: -710px;
    left: 759px;
    width: 63px;
    height: 25px;
    font-family: 'Saira';
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

.down-ll h3{
    position: relative;
    top: -809px;
    left: 730px;
    width: 132px;
    height: 157px;
    font-family: 'Saira';
    font-weight: 300;
    font-size: 100px;
    line-height: 157px;
    text-align: center;
    color: #D51419;
}

.down-ll a{
    text-decoration: none;
    position: relative;
    top: -896px;
    left: 750px;
    width: 140px;
    height: 20px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

.down-rr {
    height: 384px;
}

.down-rr p{
    position: relative;
    top: -1136px;
    left: 1009px;
    width: 84px;
    height: 25px;
    font-family: 'Saira';
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color:#EEEEEE;;
}

.down-rr h3{
    position: relative;
    top: -1235px;
    left: 988px;
    width: 121px;
    height: 157px;
    font-family: 'Saira';
    font-weight: 300;
    font-size: 100px;
    line-height: 157px;
    text-align: center;
    color: #D51419;
}


    /* end of section  */


    /* start of about us  */


.about-us .container{
    position: relative;
}

.about-us .container .top img{
    position: absolute;
    top: -1090px;
    width: 1200px;
    left: 38px;
}

.about-us .container .left h3{
    position: absolute;
    top: -908px;
    left: 63px;
    width: 210px;
    height: 63px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    text-transform: uppercase;
    color: #CA1217;
}

.about-us .container .left p{
    position: absolute;
    top: -802px;
    left: 54px;
    width: 466px;
    height: 462px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #EEEEEE;
}

.about-us .container .left img{
    position: absolute;
    top: -690px;
    left: 400px;
}

.about-us .container .right img{
    width: 703px;
    position: absolute;
    top: -802px;
    left: 549px;
}

.about-us .container .down-left img{
    width: 30%;
    position: absolute;
    top: -314px;
    left: 26px;
    opacity: 10;
}

.about-us .container .down-right .foun p{
    position: absolute;
    top: -187px;
    left: 710px;
    width: 94px;
    height: 31px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-transform: uppercase;
    color: #EEEEEE;
}

.about-us .container .founder img{
    position: absolute;
}

.about-us .container .down-right .down-m h3{
    position: absolute;
    width: 442px;
    height: 63px;
    left: 705px;
    top: -176px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 34px;
    line-height: 63px;
    text-transform: uppercase;
    color:#CA1217;
}

.about-us .container .down-right .down-m h3::after{
    content: "";
    display: inline-block;
    width: 170px;
    height: 2px;
    height: 2px;
    background-color:#EEEEEE ;
    position: absolute;
    top: 60px;
    left: 3px;
}

.about-us .container .down-right .down-m p{
    width: 555px;
    position: absolute;
    left: 704px;
    top: -74px;
    height: 224px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #EEEEEE;
}

.about-us .dd {
    height: 814px;
    background-color:#13191D;
}

.about-us .dd .back-gd img{
    width: 813px;
    position: relative;
    top: 269px;
    left: 300px;
}

.dd .m2{
    margin-top: -108px;
    position: relative;
    top: -201px;
}

.dd .m2 h3{
    position: relative;
    left: 123px;
    top: 766px;
    width: 264px;
    height: 157px;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 79px;
    line-height: 157px;
    text-align: center;
    color: #FFFFFF;
}

.dd .m2 p{
    position: absolute;
    left: 185px;
    top: 873px;
    width: 129px;
    height: 28px;
    font-family: 'Saira';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

/* .dd .m2 p::after{
    display: flex;
    
    content: "";
    display: inline-block;
    width: 170px;
    height: 5px;
    background-color:#8d1212 ;
    position: absolute;
    top: 60px;
    left: 3px;
} */

.dd .m{
    position: relative;
    top: -201px;
}

.dd .m h3{
    position: relative;
    width: 196px;
    height: 157px;
    left: 473px;
    top: 529px;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 79px;
    line-height: 157px;
    text-align: center;
    color: #FFFFFF;
}

.dd .m p{
    position: relative;
    width: 230px;
    height: 28px;
    left: 460px;
    top: 416px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

.dd .line{
    margin-top: -18px;
    position: relative;
    top: -201px;
}

.dd .line h3{
    position: relative;
    width: 61px;
    height: 157px;
    left: 791px;
    top: 191px;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 79px;
    line-height: 157px;
    text-align: center;
    color: #FFFFFF;

}

.dd .line p{
    position: relative;
    width: 169px;
    height: 56px;
    left: 734px;
    top: 78px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

.dd .security {
    margin-top: 88px;
    position: relative;
    top: -201px;
}

.dd .security h3{
    position: relative;
    width: 225px;
    height: 157px;
    left: 937px;
    top: -184px;
    font-family: 'Saira';
    font-weight: 700;
    font-size: 79px;
    line-height: 157px;
    text-align: center;
    color: #FFFFFF;
}

.dd .security p{
    position: relative;
    width: 85px;
    height: 28px;
    left: 998px;
    top: -295px;
    font-family: 'Saira';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #EEEEEE;
}


    /* ends of about us  */


    /* start of service  */

.services .container{
    background-color: #13191D;
    margin-top: -50px
}

.services .container .text h2{
    position: relative;
    width: 187px;
    height: 63px;
    left: 653px;
    top: 41px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 40px;
    line-height: 63px;
    text-transform: uppercase;
    color: #CA1217;
    margin-top: 50px;
}

.services .container .text h2::after{
    content: "";
    display: inline-block;
    width: 155px;
    height: 2px;
    background-color:#ffffff ;
    position: absolute;
    top: 60px;
    left: 15px;
}

.services .container .img-d{
    overflow: hidden;
}

.services .container .img-d
.cafe img{
    position: relative;
    top: 63px;
    width: 223px;
    height: 330px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.87;
}

.services .container .img-d
.cafe p{
    position: relative;
    width: 78px;
    height: 50px;
    left: 75px;
    top: -158px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
}

.services .container .img-d 
.gym img{
    position: relative;
    top: -384px;
    left:225px;
    width: 223px;
    height: 330px;
    opacity: 0.87;
}

.services .container .img-d 
.gym p{
    position: relative;
    top: -607px;
    color: white;
    width: 71px;
    height: 50px;
    left: 296.5px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
}

.services .container .img-d 
.pool{
    margin-top: -94px;
}

.services .container .img-d 
.pool img{
    position: relative;
    top: -736px;
    left:449.9px;
    width: 223px;
    height: 330px;
    opacity: 0.87;
    overflow: hidden;
}

.services .container .img-d 
.pool p{
    color: #fff;
    position: relative;
    width: 84px;
    height: 50px;
    left: 513px;
    top: -940px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
}

.services .container .img-d
.sauna{
    margin-top: -98px;
}

.services .container .img-d
.sauna img{
    position: relative;
    top: -1085px;
    left:675px;
    width: 223px;
    height: 330px;
    opacity: 0.87;
    overflow: hidden;
}

.services .container .img-d
.sauna p{
    position: relative;
    width: 110px;
    height: 50px;
    left: 728px;
    top: -1314px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services .container .img-d
.shop {
    margin-top: -102px;
}

.services .container .img-d
.shop img{
    position: relative;
    top: -1433px;
    left:903px;
    width: 223px;
    height: 330px;
    opacity: 0.87;
    overflow: hidden;
}

.services .container .img-d
.shop p{
    position: relative;
    width: 110px;
    height: 50px;
    left: 972px;
    top: -1645px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services .container .img-d
.kids {
    margin-top: -115px;
}

.services .container .img-d
.kids img{
    position: relative;
    top: -1767px;
    left:1127px;
    width: 186px;
    height: 330px;
    opacity: 0.87;
    overflow: hidden;
}

.services .container .img-d
.kids p{
    position: relative;
    width: 180px;
    height: 50px;
    left: 1143px;
    top: -1977px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 29px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services .container .img-d
.parking{
    margin-top: -106px;
}

.services .container .img-d
.parking img{
    position: relative;
    top: -1770px;
    left:0px;
    width: 1316px;
    overflow: hidden;
}

.services .container .img-d
.parking h3{
    position: relative;
    top: -2104px;
    left: 515px;
    width: 522px;
    height: 189px;
    font-family: 'Saira';
    font-weight: 600;
    font-size: 76px;
    line-height: 189px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.services .container .img-d
.parking p{
    position: relative;
    top: -2233px;
    left: 593px;
    width: 227px;
    height: 56px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 33px;
    line-height: 56px;
    color: #FFFFFF;
}

.services .container .dwn{
    position: relative;
    height: 1100px;
}

.services .container .dwn .assi img{
    position: relative;
    top: -2105px;
    left: 650px;
    width: 20%;
}

.services .container .dwn .left img{
    width: 47%;
    position: relative;
    top: -2344px;
    left: 73px;
}

.services .container .dwn .right h2{
    position: relative;
    width: 312px;
    height: 50px;
    left: 865px;
    top: -2762px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    color: #CA1217;
}

.services .container .dwn .right h3{
    position: relative;
    width: 131px;
    height: 50px;
    left: 890px;
    top: -2764px;
    font-family: 'Saira';
    font-weight: 800;
    font-size: 41px;
    line-height: 50px;
    text-align: center;
    color: #CA1217;
}

.services .container .dwn .right p{
    position: relative;
    width: 394px;
    height: 144px;
    left: 865px;
    top: -2774px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.services .container .dwn .dd{
    margin-top: -61px;
}

.services .container .dwn .dd p{
    position: relative;
    width: 43px;
    height: 25px;
    left: 905px;
    top: -2686px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}

.services .container .dwn .dd h3{
    /* 125,94m */

position: relative;
width: 345px;
height: 157px;
left: 884px;
top: -2798px;
font-family: 'Saira';
font-weight: 300;
font-size: 96px;
line-height: 157px;
text-align: center;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(144.5deg, #EB1D23 12.71%, #A30003 93.87%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}

.services .container .downn {
    position: relative;
}

.services .container .downn 
.ttx img{
    width: 1322px;
    position: absolute;
    top: -2738px;
    left: 3px;
}

.services .container .downn 
.left h3{
    position: absolute;
    width: 440px;
    height: 50px;
    left: 85px;
    top: -2455px;
    font-family: 'Saira';
    font-weight: 500;
    font-size: 23px;
    line-height: 50px;
    text-transform: uppercase;
    color: #CA1217;

}

.services .container .downn 
.left img{
    /* local */
position: absolute;
top: -2350px;
left: 85px;
width: 26px;
height: 26px;
}

.services .container .downn .left h4{
    position: absolute;
    top: -2374px;
    left: 129px;
    width: 323px;
    height: 24px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #EEEEEE;
}

.services .container .downn .left p{
    position: absolute;
    top: -2274px;
    left: 85px;
    width: 476px;
    height: 120px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.services .container .downn .right img{
    position: absolute;
    width: 761px;
    height: 608px;
    left: 556px;
    top: -2432px;
    background: url(DJI_0244.jpg);
    border-radius: 20px;
}

.services .container .downn img{
position: absolute;
width: 505px;
height: 298px;
left: 30px;
top: -2072px;
background: url(Screenshot_5.jpg);
border-radius: 20px;
}



        /* end of service  */


        /* start of footer  */

footer{
    position: relative;
}

footer .container{
    background-color: #000000;
    height: 500px;
    margin-top: -1596px;
}

footer .container .left img{
    padding: 93px 89px;
}

footer .container .social img{
    padding: 10px;
    position: relative;
    top: -40px;
    left: 49px;
}

footer .container .right img{
    position: absolute;
    left: 610px;
    width: 269px;
    top: -24px;
}

footer .container .right h2{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 540px;
    top: 56px;

    font-family: 'Saira';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

footer .container .right a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    width: 232px;
    height: 20px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #EEEEEE;
    position: relative;
    left: 528px;
    top: -197px;

}

footer .container .box h3{
    position: absolute;
    width: 181px;
    height: 32px;
    left: 768px;
    top: 40px;
    opacity: 10;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;

}

footer .container .box input{
    display: block;
    /* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 504px;
height: 280px;
left: 754px;
top: 56px;

background: linear-gradient(129.6deg, rgba(255, 255, 255, 0.105) 0%, rgba(255, 255, 255, 0.063) 100%);
box-shadow: 10px 10px 61px rgba(23, 23, 23, 0.1);
backdrop-filter: blur(8px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;

}

footer .container .box img{
    width: 884px;
    position: absolute;
    left: 446px;
    top: 199px;
}

footer .container hr{
    position: relative;
    top: 10px;
    color: #444444;
}

footer .container .cc p{
    position: absolute;
    left: 50px;
    top: 441px;
    color: #FFFFFF;
}

/* responsive start  */

@media screen and (max-width:414px) {
    header .container .up {
        width: 100%;
        max-width: 414px;

    }

    header .container .up hr{
        position: relative;
        top: -250px;
    }

    header .container .down-left .text-1 h2{

position: relative;
top: -100px;
left: -12px;
width: 350px;
height: 100px;

font-family: 'Saira';
font-weight: 700;
font-size: 32px;
line-height: 50px;

/* background: linear-gradient(144.5deg, #EB1D23 12.71%, #A30003 93.87%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */

}

header .container .down-left .text2 h2{
    position: relative;
    top: -174px;
    left: -12px;
    width: 450px;
    font-size: 32px;
}

.container .down-left .text2 p{
    width: 360px;
    position: relative;
    left: -10px;
    top: -221px;
}

.container .down-left .text2 button{
    position: relative;
    top: -189px;
    left: -10px;
}

.container .down-right .right img{
    width: 184px;
    position: relative;
    left: 17px;
    top: -268px;
}

.container .down-right .left img{
    width: 186px;
    position: relative;
    left: 208px;
    top: -131px;
}

.container .down-right .down img{
    width: 380px;
    position: relative;
    top: -264px;
    left: 15px;

}

section .container .text h2{
    display: none;
}

section .container .mob h2{
    color: #A30003;
    display: inline-block;
    padding: 23px 68px;
}


section .container .mob h2::after{
    content: "";
    display: inline-block;
    width: 212px;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    top: -13px;
    left: 24px;
}

section .container .left img{
    width: 196px;
    position: relative;
    top: -54px;
    left: 9px;
}

section .container .cc img{
    width:818px;
    position: relative;
    top: -280px;
    left: -377px;
}

section .container .cd img{
    width: 732px;
    position: relative;
    left: -209px;
    top: -420px;
}

section .container .left2 img{
    width: 180px;
    position: relative;
    top: -214px;
    left: 208px;
}

section .container .right img{
    width: 380px;
    height: 170px;
    position: relative;
    left: 10px;
    top:-173px;
}



section .container .bg-p img{
    margin-top: 345px;
}

section .container .bg-p h2{
    position: relative;
    top: -437px;
    left: -190px;
    font-size: 32px;
}

section .container .office {
    margin-top: -136px;
}

section .container .office h2{

    position: relative;
    width: 95px;
    height: 38px;
    left: 15px;
    top: -456px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
}

section .container .office img{
    width: 380px;
    position: relative;
    left: 7px;

}

section .container .off-ri .ll h3{
    margin-left: -743px;
    position: relative;
    top: -340px;
    font-family: 'Saira';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
}

section .container .off-ri .lr h3{
    margin-left: -743px;
    position: relative;
    top: -387px;
    font-family: 'Saira';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
}

section .container .off-ri .down p{
    width: 370px;
    position: relative;
    top: -368px;
    left: 16px;
    font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
}

section .container .off-ri .down h2{
    position: relative;
    left: -133px;
    top: -373px;
    font-family: 'Saira';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 31px;
text-align: center;
}

.down-ll {
    margin-top: 369px;
    margin-left: -725px;
}


.down-ll p{
    height: 19px;
    width: 48px;
    position: relative;
    left: 743px;
}

.down-ll h3{
    height: 113px;
    width: 95px;
    position: relative;
    top: -828px;
    left: 731px;
}

.down-ll a{
    position: relative;
    top: -885px;
    left: 740px;
}

.down-rr {
    margin-left: -750px;
    margin-top: 70px;
}

.down-rr p{
    height: 19px;
width: 63px;


}

.down-rr h3{
    position: relative;
    top: -1252px;
    left: 999px;
}

.about-us .container .top img{
    position: absolute;
    top: -1194px;
    left: 3px;
    font-family: 'Saira';
font-size: 40px;
font-weight: 900;
line-height: 63px;
letter-spacing: 0em;
text-align: left;

}

.about-us .container .left h3{
    position: relative;
    top: -1034px;
    left: 13px;
    width: 118px;
    font-family: 'Saira';
font-size: 24px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}

.about-us .container .left p{
    height: 198px;
    width: 345px;
    font-family: 'Saira';
    position: relative;
    top: -1059px;
    left: 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.about-us .container .left img{
    height: 240px;
    width: 240px;
    position: relative;
    left: -119px;
    top: -817px;
    border-radius: 0px;

}

.about-us .container .right img{
    height: 220px;
width: 375px;
position: relative;
left: 11px;
top: -186px;
border-radius: 0px;

}


.about-us .container .right{
    margin-top: -800px;
}

.about-us .container .down-left img{
    height: 298px;
    width: 167px;
    border-radius: 0px;
    position: absolute;
    left: -39px;
    top: -123px;
}

.about-us .container .down-right .foun p{
    position: absolute;
    top: -146px;
    left: 166px;
    font-family: 'Saira';
font-size: 15px;
font-weight: 300;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}

.about-us .container .down-right .down-m h3{
    position: absolute;
    top: -123px;
    left: 165px;
    height: 25px;
width: 275px;
font-family: 'Saira';
font-size: 20px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}

.about-us .container .down-right .down-m h3::after{
    position: absolute;
    top: 32px;
}

.about-us .container .founder img{
    position: absolute;
    left: -136px;

    height: 271.33595275878906px;
width: 861.8353271484375px;
top: -84.149169921875px;
border-radius: 0px;

}

.about-us .container .down-right .down-m p{
    height: 216px;
    width: 235px;
    position: absolute;
    top: -74px;
    left: 164px;
    font-family: 'Saira';
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.about-us .container .down-right .down-m p::after{
    content: "";
    display: inline-block;
    width: 395px;
    height: 2px;
    background-color: #eb2124;
    position: relative;
    top: 22px;
    left: -162px;
}
}